/* Intro */

.intro-prod {
  background: url("../img/pdt.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 50px 0;
  height: 220px;
  margin-top: 70px;
}

.intro-prod .container {
  flex-direction: column;
}

.intro-prod h1 {
  margin-bottom: 60px;
}

.subtitulo-prod {
  font-size: 48px;
  text-align: center;
}

.subtitulo-prod:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #fff;
  margin: 5px auto;
}

.descri {
  font-size: 14px;
  text-align: center;
  margin-top: -50px;;
}
@media (max-width: 739px) {
	.intro-prod {
		padding: 20px 0;
		height: 110px;
	}
	.intro-prod h1 {
		
		font-size: 1.5em;
		margin-bottom: 20px;
  }
  .descri {
    font-size: 12px;
    text-align: center;
    margin-top: -20px;
  }
}
.service-2 {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.card-prod-list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}

.container .card-prod {
  margin-top: 40px;
  margin-left: 20px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-item-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-item-prod img {
  width: 100%;
}
.card-item-prod h3 {
  padding: 10px 0;
}

.card-item-prod span {
  font-size: 11px;
  max-width: 250px;
  padding-top: 20px;
  line-height: 20px;
  padding-bottom: 20px;
}

@media (max-width: 739px) {
	.container .card-prod {
    margin-top: 20px;
    margin-left: 65px;
    width:200px;
  }
  .card-prod-list {
    margin-top: 25px
  }
	.card-item-prod span {
		font-size: 10px;
    line-height: 20px;
    max-width:180px
  }
  .container .btn-prod{
    width:125px;
    margin-bottom:20px;
    margin-top:20px;
 
  }
}

.btn-prod {
	border: none;
  color: white;
  background: #36b3b3;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-prod:hover {
	color: #36b3b3;
  border: 3px solid #36b3b3;
  background: white;
  transition: 0.3s ease-in-out;

  
}
