body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}
h3 {
  font-size: 16px;
}
a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.subtitulo {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #36b3b3;
  margin: 5px auto;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 300px;
  }
}

/* Menu */

.menu {
  top: 0;
  background: #36b3b3; /* AZUL*/
  padding: 20px 0;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.menu-logo {
  margin: 0 10px;
}

.menu-nav a {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  letter-spacing: 0.1em;
}
.menu-nav a:hover {
  color: #d0dada;
}

.menu-nav {
  flex: 1;
  margin: 0 10px;
  align-self: center;
}
.menu-nav ul {
  float: right;
  display: flex;
  list-style: none;
}
.menu-nav ul li a {
  padding: 10px;
}

@media (max-width: 739px) {
  .menu-nav p {
    margin: 0px;
  }
  .menu-logo {
    margin: 0px;
  }
  .menu-nav ul li a {
    padding-left: 0px;
  }
}

/* Intro */

.intro {
  background: url("../img/fundo.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 40px 0;
  height: 450px;
  margin-top: 70px;
}
.intro .container {
  flex-direction: column;
}

.intro h1 {
  font-size: 2em;
  margin-bottom: 50px;
  margin-top: 80px;
}

.btn {
  border: none;
  color: white;
  background: #36b3b3;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  color: #36b3b3;
  background: white;
}

@media (max-width: 739px) {
  .intro p {
    padding: 60px 0;
  }
}

.container .card {
  margin-top: -60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-item {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.card-item h3 {
  padding: 10px 0;
}

.card-item span {
  font-size: 12px;
}

.service {
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}

.service-list {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-between;
}

.service-list-item {
  display: flex;
  justify-content: flex-start;
  width: 300px;
}
.service-list-item img {
  margin-right: 20px;
  margin-bottom: 150px;
}

.service-list-item span {
  font-size: 12px;
}

/*Portfólio*/

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-bottom: 60px;
}

.parceiros {
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}

.rslides,
.rslides_portfolio {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li,
.rslides_portfolio li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  flex-direction: column;
}

.rslides li:first-child,
.rslides_portfolio li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img,
.rslides_portfolio img {
  display: block;
  height: 300px;
  width: 100%;
  border: 0;
  width: 100%;
  height: 100px;
}

.rslides_tabs {
  text-align: center;
  margin-top: 20px;
}

.rslides_tabs li {
  display: inline;
  margin: 0 5px;
}

.rslides_tabs li a {
  width: 12px;
  height: 12px;
  background: #1d1d1d;
  color: #1d1d1d;
  border-radius: 20px;
  overflow: hidden;
  text-indent: -200px;
}

.rslides_tabs li a:hover,
.rslides_tabs li.rslides_here a {
  background: #36b3b3;
  color: #36b3b3;
}
.slide {
  position: relative;
  padding-top: 20px;
  display: inline-block;
  margin-left: 50px;
}

.quote span {
  text-align: center;
  margin-left: 300px;
}

.quote .container {
  align-items: center;
  text-align: center;
}
.cite {
  font-size: 14px;
  margin-left: 30px;
  padding-top: 30px;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.frase {
  text-align: center;
  font-size: 12px;
  align-items: center;
  max-width: 400px;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.quebra {
  align-items: center;
  text-align: center;
  background: url("../img/footer.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 80px 0;
  height: 250px;
}

/*Footer*/

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 180px;
  padding-bottom: 30px;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #36b3b3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #36b3b3;
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 60px;
  max-width: 700px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
}
.footer_contato {
  margin-right: 200px;
  margin-left: 80px;
  letter-spacing: 1px;
}

.footer_contato ul li {
  font-size: 13px;
  line-height: 20px;
  list-style: none;
  max-width: 600px;
  display: flex;
  float: left;
  letter-spacing: 1px;
}
.footer_redes ul {
  float: right;
  display: flex;
  list-style: none;
}
.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #36b3b3;
  display: block;
}
.soci {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 34px;
  height: 34px;
}

.footer_redes ul li a:hover {
  border-color: #fff;
  transition: 0.3s ease-in-out;
}

.copy {
  width: 100%;
  height: 50px;
  background: #36b3b3;
  padding: 10px;
}

.teste {
  font-size: 14px;
  padding-top: 10px;
}

/*Animações*/

.js .introducao h1, .js .introducao .btn, .js .intro-card, .js .animar, .js .animar-interno, .js .introducao-interna h1, .js .introducao-interna p {
	opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}